@model StarForum.Presentation.Web.Areas.Forum.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Welcome to the Star Forum Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />

@* ReSharper disable once Html.PathError *@
<p><a href="/Forum/New">Start a new discussion</a></p>

<h2>Latest Posts</h2>

<table class="table">
    <tr>
        <th>Title</th>
    </tr>

@foreach (var thread in Model.LatestThreads) {
    <tr>
        <td><a href="#"><i>@thread.Title</i></a></td>       
    </tr>
}

</table>
